<div dir="rtl">
    <p>مرحبا</p>
    <p> رسالة من : </p>
    <p>{{ legation }}</p>
    <p>عن طريق صاحب الحساب : </p>
    {{ user.fullName }}
    <p>---</p>
    <p>الموضوع:</p>
    <p>{{ subject }}</p>
    <p>نص الرسالة:</p>
    <p>{{ message }}</p>
    <p>شكرا</p>
</div>
