{% extends 'base.html.twig' %}

{% block title %}Edit Salary{% endblock %}

{% block body %}
    <h1>Edit Salary</h1>

    {{ include('salary/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('salary_index') }}">back to list</a>

    {{ include('salary/_delete_form.html.twig') }}
{% endblock %}
