{% extends 'base.html.twig' %}

{% block title %}Edit Archive{% endblock %}

{% block body %}
    <h1>Edit Archive</h1>

    {{ include('archive/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('archive_index') }}">back to list</a>

    {{ include('archive/_delete_form.html.twig') }}
{% endblock %}
