{% extends 'base.html.twig' %}

{% block title %}قائمة المعتمديات {% endblock %}
{% block title_header %}قائمة المعتمديات {% endblock %}

{% block body %}
    <a href="{{ path('city_new') }}" class="btn btn-primary mb-2">
        <i class="fas fa-plus"></i> إضافة معتمدية
    </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>إسم المعتمدية</th>
            <th>عدد المعلمين</th>
            <th class="end-table"></th>
        </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.name }}</td>
                <td>{{ city.teachers|length }}</td>
                <td>
                    {% include 'option/_option.html.twig' with { _pathEdit: 'city_edit', _pathDelete: 'city_delete', id: city.id} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="table-danger text-center text-danger">لا يوجد سجلات!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
