{% extends 'base.html.twig' %}

{% block title %}قائمة الولايات{% endblock %}
{% block title_header %}قائمة الولايات{% endblock %}

{% block body %}
    <a href="{{ path('region_new') }}" class="btn btn-primary mb-2"><i class="fas fa-plus"></i> إضافة ولاية </a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>اسم الولاية</th>
            <th class="end-table"></th>
        </tr>
        </thead>
        <tbody>
        {% for region in regions|sort|reverse %}
            <tr>
                <td>{{ region.name }}</td>
                <td>
                    {% include 'option/_option.html.twig' with { _pathEdit: 'region_edit', _pathDelete: 'region_delete', id: region.id} %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="table-secondary text-center text-gray-800">لا يوجد سجلات!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
