{% extends 'base.html.twig' %}

{% block title %}تعديل كلمة المرور{% endblock %}
{% block title_header %}تعديل كلمة المرور{% endblock %}

{% block body %}
    <div class="col-md-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">
            <i class="fas fa-lock"></i> تعديل كلمة المرور
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
