<!-- Footer -->
<footer class="sticky-footer bg-light mt-4">
    <div class="container my-auto">
        <div class="copyright my-auto">
            <span>&copy; {{ "now"|date('Y') }} جميع الحقوق محفوظة </span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
